@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');  

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "inter";

}

.container{

    display: flex;

}

.left-panel{

    height: 100vh;
    width: 20vw;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #1c1c1c;


}

.central-panel{

    height: 100vh;
    width: 80vw;
    background-color: aqua;
    display: flex;
    align-items: center;

}

.top{

    width: 100%;
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;


}

.bottom{

    width: 100%;
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-top: 2px;
    border-top: 1px solid #1c1c1c
       

}
.novo-chat-button{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 20;
    cursor: pointer;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: medium;
}

.conversa{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    padding: 20;
    cursor: pointer;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: none;
   
}
.conversa img{
    margin-right: 2%;

}
.vector{
    margin-left: 20%;

}
.action{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    padding: 20;
    cursor: pointer;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: none;
}

.action img{
    margin-right: 2%;    
}

.central-panel{
    display: flex;
    flex-direction: column;
}
.logosenai{
    margin-top: 260px
}
.disposicao1{
    display: flex;
    justify-content: center;
    
    

}